* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

/*ESTILOS DA NAVBAR*/

.navbar {
	background-color: #795548 !important;
	color: white;
}

.font-1 {
	font-size: 20px;
	
}