		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Open Sans', sans-serif;
		}

		html,body {
			height: 100%;
		}

		/*AQUI COMEÇA O ESTILO DA NAVBAR*/

		nav.menu {
			width: 100%;
			height: 50px;
			background-color: #3d0e07;
			position: relative;
			z-index: 2;
			
		}

		.menu .logo {
			float: right;
			font-size: 25px;
			padding: 8px;
			position: relative;
			right: 25px;
			color: white;
		}
		.menu .logo:hover {
			background-color: #3d0e07;
			font-weight: bold;

		}

		.menu .logo span {
			color: #999;
		}

		.menu ul {
			list-style: none;
			position: relative;
		}

		.menu ul li {
			width: 150px;
			float: left;
		}

		.menu a {
			padding: 13px;
			display: block;
			text-decoration: none;
			text-align: center;
			background-color: #3d0e07;
			color: white;

		}

		.menu ul ul {
			position: absolute;
			visibility: hidden;
		}

		.menu ul li:hover ul {
			visibility: visible;
		}

		.menu a:hover {
			background-color: #5e2219;
			
		}

		.menu ul ul li {
			float: none;
			border-bottom: 1px solid white;
		}

		.menu ul ul li a {
			background-color: #3d0e07;

		}

		label[for=bt_menu] {
			position: absolute;
			padding: 5px;
			background-color: #3d0e07;;
			color: white;
			font-family: "Arial";
			text-align: center;
			font-size: 30px;
			cursor: pointer;
			width: 50px;
			height: 50px;
			display: none;
			z-index: 99;
			top: 0;
			border-radius: 2px;
		}

		#bt_menu{

			display: none;
			
		}


		/*AQUI TERMINA O ESTILO DA NAVBAR*/

		/*AQUI COMEÇA O ESTILO DA SESSÃO 1*/

		.section-1 {
			
			width: 100%;
			min-height: 100%;
			background-image: url('../img/BG-S1.jpg');
			background-size: 100% 100%;
			

		}

		.section-1 .container {
			width: 100%;
			height: 50%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.section-1 .container .item-container-1 h1 {
			display: none;
		}

		.section-1 .container .item-container-1 {
			position: relative;
			top: 10%;
			width: 50%;
			height: 100%;

		}

		.section-1 .container .item-container-1 .card {
			background-color: rgba(255,255,255,0.5);
			width: 80%;
			margin-left: 10%;
			margin-top: 6%;
			border-radius: 15px;
			padding: 5%;
			text-align: justify;

		}

		.section-1 .container .item-container-1 .card p {
			margin-top: 15px;
			font-size: 18px;
		}

		.section-1 .container .item-container-2 {
			position: relative;
			top: 10%;
			width: 50%;
			height: 60%;
			
		}


		.section-1 .container .item-container-2 .card {
			background-color: rgba(0,0,0,0.3);
			width: 80%;
			min-height: 80%;
			margin-left: 10%;
			margin-top: 5%;
			border-radius: 15px;
			padding: 5%;
			
		}

		.section-1 .container .item-container-2 .card img {
			float: right;
			width: 20%;
		}

		.section-1 .container .item-container-2 .card ul {
			margin-top: 15px;
			
		}

		.section-1 .container .item-container-2 .card ul li {
			font-size: 22px;
			margin-left: 60px;
		}


		.chamada {
			margin: 0 auto;
			margin-top: 50px;
			text-align: center;
			color: white;
			
		}

		.chamada img {
			width: 150px;

		}

		.chamada h1 {
			font-size: 450%;
			

		}

		.chamada h1 span {
			color: #5e5e5e;
		}

		.chamada h4 {
			margin-bottom: 0;
		}


		/*AQUI TERMINA O ESTILO DA SESSÃO 1*/

		/*AQUI COMEÇA O ESTILO DA SESSÃO 2*/

		.section-2 {
			
			width: 100%;
			height: 100%;
			background-image: url('../img/BG-S2.jpg');
			background-size: 100% 100%;
			

		}

		.section-2 .container {
			width: 100%;
			height: 100%;
		}

		.section-2 form {
			width: 28%;
			height: 60%;
			
			background-color: white;
			position: relative;
			margin: 0 auto;
			top: 18%;
			border-radius: 10px;
			padding: 10px;
		}

		.section-2 form  h1{

		}



		/*AQUI TERMINA O ESTILO DA SESSÃO 2*/


		/*AQUI COMEÇA AS MEDIAS QUERYS*/

		@media(max-width: 1095px){
			.section-1 .container .item-container-1,
			.section-1 .container .item-container-2 {
				width: 100%;
			
				
			}

			

			.section-1 {
				z-index: 1
				background-size: 100%;

			}	

			.chamada {
				z-index: 2;
			}	

			.section-1 {
				position: relative;
				top: -50px;
				
			}

			.section-1 .container .item-container-1  {		
				margin-top: 5%;
			
			}

			.section-1 .container .item-container-2 .card {
				background-color: rgba(255,255,255,0.5);
			}


			.chamada {
				position: relative;
				top: 10%;
			}

			.section-2 {
				position: relative;
				top: -50px;
			}


		}

		@media(max-width: 800px){

			/*AQUI COMEÇA O ESTILO DA NAVBAR*/

			#bt_menu:checked ~ div nav.menu {
				position: relative;
				left: 0;


				
			}



			label[for=bt_menu] {
				display: block;
				position: absolute;

			}



			.menu {
				
				left: -100%;
				transition: 0.4s;

				
			}

			.menu .logo {
				
				display: none;

			}

			.menu ul li {
				width: 100%;
				float: none;
			}

			.menu ul ul {
				position: static;
				overflow: hidden;
				max-height: 0;
				transition: all 0.4s;
			}

			.menu ul li:hover ul {
				height: auto;
				max-height: 200px;
			}

			.section-1 .container .item-container-1 h1 {
				display: block;
				font-size: 35px; 
				position: relative;
				text-align: center;
				text-shadow: 0px 0px 3px black; 
			}

			.section-1 .container .item-container-1 h1 span {
				color: #888;
			}


			/*AQUI TERMINA O ESTILO DA NAVBAR*/

			

			
			
		}

		@media(max-width: 500px) {

			.section-1 .container .item-container-1 .card {
				margin-top: 50px;
			}

			.section-1 .container .item-container-1 .card h2,
			.section-1 .container .item-container-2 .card h2 {
				font-size: 22px;
			}

			.section-1 .container .item-container-1 .card ul li,
			.section-1 .container .item-container-2 .card ul li {
				font-size: 16px;
				margin-left: 10%;
				font-weight: bold;
			}



			
		}
